<html>
    <head>
        <title>Imagine-If</title>
        <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>